.projects-wrapper {
  display: grid;
  gap: 1rem;
}

#projects h2 {
  margin-bottom: 5rem;
  text-align: center;
}

#projects h3 {
  margin-bottom: 1rem;
  text-align: center;
}

.project-one,
.project-two {
  margin-bottom: 5rem;
}

.project-link {
  justify-self: start;
}
